{
  "openapi": "3.1.2",
  "info": {
    "title": "Figma API",
    "description": "This is the OpenAPI specification for the [Figma REST API](https://developers.figma.com/docs/rest-api/).\n\nNote: we are releasing the OpenAPI specification as a beta given the large surface area and complexity of the REST API. If you notice any inaccuracies with the specification, please [file an issue](https://github.com/figma/rest-api-spec/issues).",
    "termsOfService": "https://www.figma.com/developer-terms/",
    "contact": {
      "email": "support@figma.com"
    },
    "version": "0.42.0"
  },
  "servers": [
    {
      "url": "https://api.figma.com"
    }
  ],
  "paths": {
    "/v1/files/{fileKey}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get file JSON",
        "description": "Returns the document identified by \u0060file_key\u0060 as a JSON object. The file key can be parsed from any Figma file url: \u0060https://www.figma.com/file/{file_key}/{title}\u0060.\n\nThe \u0060document\u0060 property contains a node of type \u0060DOCUMENT\u0060.\n\nThe \u0060components\u0060 property contains a mapping from node IDs to component metadata. This is to help you determine which components each instance comes from.",
        "operationId": "GetFile",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to export JSON from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "A specific version ID to get. Omitting this will get the current version of the file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated list of nodes that you care about in the document. If specified, only a subset of the document will be returned corresponding to the nodes listed, their children, and everything between the root node and the listed nodes.\n\nNote: There may be other nodes included in the returned JSON that are outside the ancestor chains of the desired nodes. The response may also include dependencies of anything in the nodes\u0027 subtrees. For example, if a node subtree contains an instance of a local component that lives elsewhere in that file, that component and its ancestor chain will also be included.\n\nFor historical reasons, top-level canvas nodes are always returned, regardless of whether they are listed in the \u0060ids\u0060 parameter. This quirk may be removed in a future version of the API.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Positive integer representing how deep into the document tree to traverse. For example, setting this to 1 returns only Pages, setting it to 2 returns Pages and all top level objects on each page. Not setting this parameter returns all nodes.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "description": "Set to \u0022paths\u0022 to export vector data.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plugin_data",
            "in": "query",
            "description": "A comma separated list of plugin IDs and/or the string \u0022shared\u0022. Any data present in the document written by those plugins will be included in the result in the \u0060pluginData\u0060 and \u0060sharedPluginData\u0060 properties.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_data",
            "in": "query",
            "description": "Returns branch metadata for the requested file. If the file is a branch, the main file\u0027s key will be included in the returned response. If the file has branches, their metadata will be included in the returned response. Default: false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key} endpoint.",
            "$ref": "#/components/responses/GetFileResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "file_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/nodes": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get file JSON for specific nodes",
        "description": "Returns the nodes referenced to by \u0060ids\u0060 as a JSON object. The nodes are retrieved from the Figma file referenced to by \u0060file_key\u0060.\n\nThe node ID and file key can be parsed from any Figma node url: \u0060https://www.figma.com/file/{file_key}/{title}?node-id={id}\u0060\n\nThe \u0060name\u0060, \u0060lastModified\u0060, \u0060thumbnailUrl\u0060, \u0060editorType\u0060, and \u0060version\u0060 attributes are all metadata of the specified file.\n\nThe \u0060linkAccess\u0060 field describes the file link share permission level. There are 5 types of permissions a shared link can have: \u0060\u0022inherit\u0022\u0060, \u0060\u0022view\u0022\u0060, \u0060\u0022edit\u0022\u0060, \u0060\u0022org_view\u0022\u0060, and \u0060\u0022org_edit\u0022\u0060. \u0060\u0022inherit\u0022\u0060 is the default permission applied to files created in a team project, and will inherit the project\u0027s permissions. \u0060\u0022org_view\u0022\u0060 and \u0060\u0022org_edit\u0022\u0060 restrict the link to org users.\n\nThe \u0060document\u0060 attribute contains a Node of type \u0060DOCUMENT\u0060.\n\nThe \u0060components\u0060 key contains a mapping from node IDs to component metadata. This is to help you determine which components each instance comes from.\n\nBy default, no vector data is returned. To return vector data, pass the geometry=paths parameter to the endpoint.\nEach node can also inherit properties from applicable styles. The styles key contains a mapping from style IDs to style metadata.\n\nImportant: the nodes map may contain values that are \u0060null\u0060. This may be due to the node id not existing within the specified file.",
        "operationId": "GetFileNodes",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to export JSON from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "A comma separated list of node IDs to retrieve and convert.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "A specific version ID to get. Omitting this will get the current version of the file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Positive integer representing how deep into the node tree to traverse. For example, setting this to 1 will return only the children directly underneath the desired nodes. Not setting this parameter returns all nodes.\n\nNote: this parameter behaves differently from the same parameter in the \u0060GET /v1/files/:key\u0060 endpoint. In this endpoint, the depth will be counted starting from the desired node rather than the document root node.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "description": "Set to \u0022paths\u0022 to export vector data.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plugin_data",
            "in": "query",
            "description": "A comma separated list of plugin IDs and/or the string \u0022shared\u0022. Any data present in the document written by those plugins will be included in the result in the \u0060pluginData\u0060 and \u0060sharedPluginData\u0060 properties.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/nodes endpoint.",
            "$ref": "#/components/responses/GetFileNodesResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "file_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/images/{fileKey}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Render images of file nodes",
        "description": "Renders images from a file.\n\nIf no error occurs, \u0060\u0022images\u0022\u0060 will be populated with a map from node IDs to URLs of the rendered images, and \u0060\u0022status\u0022\u0060 will be omitted. The image assets will expire after 30 days. Images up to 32 megapixels can be exported. Any images that are larger will be scaled down.\n\nImportant: the image map may contain values that are \u0060null\u0060. This indicates that rendering of that specific node has failed. This may be due to the node id not existing, or other reasons such has the node having no renderable components. It is guaranteed that any node that was requested for rendering will be represented in this map whether or not the render succeeded.\n\nTo render multiple images from the same file, use the \u0060ids\u0060 query parameter to specify multiple node ids.\n\n\u0060\u0060\u0060\nGET /v1/images/:key?ids=1:2,1:3,1:4\n\u0060\u0060\u0060\n",
        "operationId": "GetImages",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to export images from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "A comma separated list of node IDs to render.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "A specific version ID to get. Omitting this will get the current version of the file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "A number between 0.01 and 4, the image scaling factor.",
            "schema": {
              "maximum": 4,
              "minimum": 0.01,
              "type": "number"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "A string enum for the image output format.",
            "schema": {
              "$ref": "#/components/schemas/GetImagesFormatParameter"
            }
          },
          {
            "name": "svg_outline_text",
            "in": "query",
            "description": "Whether text elements are rendered as outlines (vector paths) or as \u0060\u003Ctext\u003E\u0060 elements in SVGs.\n\nRendering text elements as outlines guarantees that the text looks exactly the same in the SVG as it does in the browser/inside Figma.\n\nExporting as \u0060\u003Ctext\u003E\u0060 allows text to be selectable inside SVGs and generally makes the SVG easier to read. However, this relies on the browser\u0027s rendering engine which can vary between browsers and/or operating systems. As such, visual accuracy is not guaranteed as the result could look different than in Figma.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "svg_include_id",
            "in": "query",
            "description": "Whether to include id attributes for all SVG elements. Adds the layer name to the \u0060id\u0060 attribute of an svg element.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "svg_include_node_id",
            "in": "query",
            "description": "Whether to include node id attributes for all SVG elements. Adds the node id to a \u0060data-node-id\u0060 attribute of an svg element.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "svg_simplify_stroke",
            "in": "query",
            "description": "Whether to simplify inside/outside strokes and use stroke attribute if possible instead of \u0060\u003Cmask\u003E\u0060.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "contents_only",
            "in": "query",
            "description": "Whether content that overlaps the node should be excluded from rendering. Passing false (i.e., rendering overlaps) may increase processing time, since more of the document must be included in rendering.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "use_absolute_bounds",
            "in": "query",
            "description": "Use the full dimensions of the node regardless of whether or not it is cropped or the space around it is empty. Use this to export text nodes without cropping.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/images/{file_key} endpoint.",
            "$ref": "#/components/responses/GetImagesResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "file_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/images": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get image fills",
        "description": "Returns download links for all images present in image fills in a document. Image fills are how Figma represents any user supplied images. When you drag an image into Figma, we create a rectangle with a single fill that represents the image, and the user is able to transform the rectangle (and properties on the fill) as they wish.\n\nThis endpoint returns a mapping from image references to the URLs at which the images may be download. Image URLs will expire after no more than 14 days. Image references are located in the output of the GET files endpoint under the \u0060imageRef\u0060 attribute in a \u0060Paint\u0060.",
        "operationId": "GetImageFills",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to get image URLs from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/images endpoint.",
            "$ref": "#/components/responses/GetImageFillsResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "file_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/meta": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get file metadata",
        "description": "Get file metadata",
        "operationId": "GetFileMeta",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to get metadata for. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/meta endpoint.",
            "$ref": "#/components/responses/GetFileMetaResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "file_metadata:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/teams/{teamId}/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "[Deprecated] Get projects in a team",
        "description": "Deprecated in favor of [Get top-level folders in a team](https://developers.figma.com/docs/rest-api/folders-endpoints/). You can use this endpoint to get a list of the top-level Projects (now called \u0022folders\u0022) within the specified team. This will only return projects visible to the authenticated user or owner of the developer token. Note: it is not currently possible to programmatically obtain the team id of a user just from a token. To obtain a team id, navigate to a team page of a team you are a part of. The team id will be present in the URL after the word team and before your team name.",
        "operationId": "GetTeamProjects",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "ID of the team to list projects from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/teams/{team_id}/projects endpoint.",
            "$ref": "#/components/responses/GetTeamProjectsResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "deprecated": true,
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "projects:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/projects/{projectId}/meta": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "[Deprecated] Get project metadata",
        "description": "Deprecated in favor of [Get folder metadata](https://developers.figma.com/docs/rest-api/folders-endpoints/). Get metadata for a project (now called a \u0022folder\u0022).",
        "operationId": "GetProjectMeta",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of the project to get metadata for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/projects/{project_id}/meta endpoint.",
            "$ref": "#/components/responses/GetProjectMetaResponse"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "deprecated": true,
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "project_metadata:read"
            ]
          }
        ]
      }
    },
    "/v1/projects/{projectId}/files": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "[Deprecated] Get files in a project",
        "description": "Deprecated in favor of [Get files in a folder](https://developers.figma.com/docs/rest-api/folders-endpoints/). Get a list of all the Files within the specified project (now called a \u0022folder\u0022).",
        "operationId": "GetProjectFiles",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of the project to list files from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_data",
            "in": "query",
            "description": "Returns branch metadata in the response for each main file with a branch inside the project.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/projects/{project_id}/files endpoint.",
            "$ref": "#/components/responses/GetProjectFilesResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "deprecated": true,
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "projects:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v2/teams/{teamId}/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get top-level folders in a team",
        "description": "Get a list of the top-level folders (previously called \u0022projects\u0022) within the specified team. Subfolders can be traversed with the GET /v2/folders/{folder_id}/folders endpoint. It is not possible to programmatically obtain team IDs. To obtain a team ID, navigate to the team page in the Figma file browser. The team ID is present in the URL after the word team. For example, in \u0060https://www.figma.com/files/181033233908053158/team/1535685101263221741\u0060, the team ID is \u00601535685101263221741\u0060.",
        "operationId": "GetTeamFolders",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "ID of the team to list folders from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v2/teams/{team_id}/folders endpoint.",
            "$ref": "#/components/responses/GetTeamFoldersResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "folders:read"
            ]
          }
        ]
      }
    },
    "/v2/folders/{folderId}/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get subfolders in a folder",
        "description": "Get a list of the direct subfolders within the specified folder.",
        "operationId": "GetFolderFolders",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "ID of the parent folder to list subfolders from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v2/folders/{folder_id}/folders endpoint.",
            "$ref": "#/components/responses/GetFolderFoldersResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "folders:read"
            ]
          }
        ]
      }
    },
    "/v2/folders/{folderId}/files": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get files in a folder",
        "description": "Get a list of the files directly within the specified folder.",
        "operationId": "GetFolderFiles",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "ID of the folder to list files from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_data",
            "in": "query",
            "description": "Returns branch metadata in the response for each main file with a branch inside the folder.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v2/folders/{folder_id}/files endpoint.",
            "$ref": "#/components/responses/GetFolderFilesResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "folders:read"
            ]
          }
        ]
      }
    },
    "/v2/folders/{folderId}/meta": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get folder metadata",
        "description": "Get metadata for a folder (name, thumbnail, file count, timestamps) without enumerating its files.",
        "operationId": "GetFolderMeta",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "ID of the folder to get metadata for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v2/folders/{folder_id}/meta endpoint.",
            "$ref": "#/components/responses/GetFolderMetaResponse"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "folder_metadata:read"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/versions": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get versions of a file",
        "description": "This endpoint fetches the version history of a file, allowing you to see the progression of a file over time. You can then use this information to render a specific version of the file, via another endpoint.",
        "operationId": "GetFileVersions",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to get version history from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items returned in a page of the response. If not included, \u0060page_size\u0060 is \u006030\u0060.",
            "schema": {
              "maximum": 50,
              "type": "number"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A version ID for one of the versions in the history. Gets versions before this ID. Used for paginating. If the response is not paginated, this link returns the same data in the current response.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A version ID for one of the versions in the history. Gets versions after this ID. Used for paginating. If the response is not paginated, this property is not included.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/versions endpoint.",
            "$ref": "#/components/responses/GetFileVersionsResponse"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "file_versions:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/comments": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get comments in a file",
        "description": "Gets a list of comments left on the file.",
        "operationId": "GetComments",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to get comments from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as_md",
            "in": "query",
            "description": "If enabled, will return comments as their markdown equivalents when applicable.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/comments endpoint.",
            "$ref": "#/components/responses/GetCommentsResponse"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "file_comments:read",
              "files:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Add a comment to a file",
        "description": "Posts a new comment on the file.",
        "operationId": "PostComment",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to add comments in. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Comment to post.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response from the POST /v1/files/{file_key}/comments endpoint.",
            "$ref": "#/components/responses/PostCommentResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "OAuth2": [
              "file_comments:write"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/comments/{commentId}": {
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete a comment",
        "description": "Deletes a specific comment. Only the person who made the comment is allowed to delete it.",
        "operationId": "DeleteComment",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to delete comment from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "Comment id of comment to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the DELETE /v1/files/{file_key}/comments/{comment_id} endpoint.",
            "$ref": "#/components/responses/DeleteCommentResponse"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "OAuth2": [
              "file_comments:write"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/comments/{commentId}/reactions": {
      "get": {
        "tags": [
          "Comment Reactions"
        ],
        "summary": "Get reactions for a comment",
        "description": "Gets a paginated list of reactions left on the comment.",
        "operationId": "GetCommentReactions",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to get comment containing reactions from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "ID of comment to get reactions from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination, retrieved from the response of the previous call.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/comments/{comment_id}/reactions endpoint.",
            "$ref": "#/components/responses/GetCommentReactionsResponse"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "file_comments:read",
              "files:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Comment Reactions"
        ],
        "summary": "Add a reaction to a comment",
        "description": "Posts a new comment reaction on a file comment.",
        "operationId": "PostCommentReaction",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to post comment reactions to. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "ID of comment to react to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Reaction to post.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommentReactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response from the POST /v1/files/{file_key}/comments/{comment_id}/reactions endpoint.",
            "$ref": "#/components/responses/PostCommentReactionResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "OAuth2": [
              "file_comments:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Comment Reactions"
        ],
        "summary": "Delete a reaction",
        "description": "Deletes a specific comment reaction. Only the person who made the reaction is allowed to delete it.",
        "operationId": "DeleteCommentReaction",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to delete comment reaction from. This can be a file key or branch key. Use \u0060GET /v1/files/:key\u0060 with the \u0060branch_data\u0060 query param to get the branch key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "ID of comment to delete reaction from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emoji",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the DELETE /v1/files/{file_key}/comments/{comment_id}/reactions endpoint.",
            "$ref": "#/components/responses/DeleteCommentReactionResponse"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "OAuth2": [
              "file_comments:write"
            ]
          }
        ]
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user",
        "description": "Returns the user information for the currently authenticated user.",
        "operationId": "GetMe",
        "responses": {
          "200": {
            "description": "Response from the GET /v1/me endpoint.",
            "$ref": "#/components/responses/GetMeResponse"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "OAuth2": [
              "current_user:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/teams/{teamId}/components": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Get team components",
        "description": "Get a paginated list of published components within a team library.",
        "operationId": "GetTeamComponents",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id of the team to list components from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to return in a paged list of results. Defaults to 30. Maximum of 1000.",
            "schema": {
              "type": "number",
              "default": 30
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor indicating which id after which to start retrieving components for. Exclusive with before. The cursor value is an internally tracked integer that doesn\u0027t correspond to any Ids.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor indicating which id before which to start retrieving components for. Exclusive with after. The cursor value is an internally tracked integer that doesn\u0027t correspond to any Ids.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/teams/{team_id}/components endpoint.",
            "$ref": "#/components/responses/GetTeamComponentsResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "team_library_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/components": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Get file components",
        "description": "Get a list of published components within a file library.",
        "operationId": "GetFileComponents",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to list components from. This must be a main file key, not a branch key, as it is not possible to publish from branches.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/components endpoint.",
            "$ref": "#/components/responses/GetFileComponentsResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "library_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/components/{key}": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Get component",
        "description": "Get metadata on a component by key.",
        "operationId": "GetComponent",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The unique identifier of the component.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/components/{key} endpoint.",
            "$ref": "#/components/responses/GetComponentResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "library_assets:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/teams/{teamId}/component_sets": {
      "get": {
        "tags": [
          "Component Sets"
        ],
        "summary": "Get team component sets",
        "description": "Get a paginated list of published component sets within a team library.",
        "operationId": "GetTeamComponentSets",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id of the team to list component sets from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to return in a paged list of results. Defaults to 30.",
            "schema": {
              "type": "number",
              "default": 30
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor indicating which id after which to start retrieving component sets for. Exclusive with before. The cursor value is an internally tracked integer that doesn\u0027t correspond to any Ids.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor indicating which id before which to start retrieving component sets for. Exclusive with after. The cursor value is an internally tracked integer that doesn\u0027t correspond to any Ids.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/teams/{team_id}/component_sets endpoint.",
            "$ref": "#/components/responses/GetTeamComponentSetsResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "team_library_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/component_sets": {
      "get": {
        "tags": [
          "Component Sets"
        ],
        "summary": "Get file component sets",
        "description": "Get a list of published component sets within a file library.",
        "operationId": "GetFileComponentSets",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to list component sets from. This must be a main file key, not a branch key, as it is not possible to publish from branches.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/component_sets endpoint.",
            "$ref": "#/components/responses/GetFileComponentSetsResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "library_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/component_sets/{key}": {
      "get": {
        "tags": [
          "Component Sets"
        ],
        "summary": "Get component set",
        "description": "Get metadata on a published component set by key.",
        "operationId": "GetComponentSet",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The unique identifier of the component set.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/component_sets/{key} endpoint.",
            "$ref": "#/components/responses/GetComponentSetResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "library_assets:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/teams/{teamId}/styles": {
      "get": {
        "tags": [
          "Styles"
        ],
        "summary": "Get team styles",
        "description": "Get a paginated list of published styles within a team library.",
        "operationId": "GetTeamStyles",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id of the team to list styles from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to return in a paged list of results. Defaults to 30.",
            "schema": {
              "type": "number",
              "default": 30
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor indicating which id after which to start retrieving styles for. Exclusive with before. The cursor value is an internally tracked integer that doesn\u0027t correspond to any Ids.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor indicating which id before which to start retrieving styles for. Exclusive with after. The cursor value is an internally tracked integer that doesn\u0027t correspond to any Ids.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/teams/{team_id}/styles endpoint.",
            "$ref": "#/components/responses/GetTeamStylesResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "team_library_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/files/{fileKey}/styles": {
      "get": {
        "tags": [
          "Styles"
        ],
        "summary": "Get file styles",
        "description": "Get a list of published styles within a file library.",
        "operationId": "GetFileStyles",
        "parameters": [
          {
            "name": "fileKey",
            "in": "path",
            "description": "File to list styles from. This must be a main file key, not a branch key, as it is not possible to publish from branches.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/files/{file_key}/styles endpoint.",
            "$ref": "#/components/responses/GetFileStylesResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "library_content:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v1/styles/{key}": {
      "get": {
        "tags": [
          "Styles"
        ],
        "summary": "Get style",
        "description": "Get metadata on a style by key.",
        "operationId": "GetStyle",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The unique identifier of the style.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v1/styles/{key} endpoint.",
            "$ref": "#/components/responses/GetStyleResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrMessage"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "404": {
            "description": "The requested file or resource was not found.",
            "$ref": "#/components/responses/NotFoundErrorResponseWithErrorBoolean"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "library_assets:read",
              "files:read"
            ]
          }
        ]
      }
    },
    "/v2/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhooks by context or plan",
        "description": "Returns a list of webhooks corresponding to the context or plan provided, if they exist. For plan, the webhooks for all contexts that you have access to will be returned, and theresponse is paginated",
        "operationId": "GetWebhooks",
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "description": "Context to create the resource on. Should be \u0022team\u0022, \u0022project\u0022, or \u0022file\u0022.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "context_id",
            "in": "query",
            "description": "The id of the context that you want to get attached webhooks for. If you\u0027re using context_id, you cannot use plan_api_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan_api_id",
            "in": "query",
            "description": "The id of your plan. Use this to get all webhooks for all contexts you have access to. If you\u0027re using plan_api_id, you cannot use context or context_id. When you use plan_api_id, the response is paginated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "If you\u0027re using plan_api_id, this is the cursor to use for pagination. If you\u0027re using context or context_id, this parameter is ignored. Provide the next_page or prev_page value from the previous response to get the next or previous page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response from the GET /v2/webhooks endpoint.",
            "$ref": "#/components/responses/GetWebhooksResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "PlanAccessToken": []
          },
          {
            "OAuth2": [
              "webhooks:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "description": "Create a new webhook which will call the specified endpoint when the event triggers. By default, this webhook will automatically send a PING event to the endpoint when it is created. If this behavior is not desired, you can create the webhook and set the status to PAUSED and reactivate it later.",
        "operationId": "PostWebhook",
        "requestBody": {
          "description": "The webhook to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response from the POST /v2/webhooks endpoint.",
            "$ref": "#/components/responses/PostWebhookResponse"
          },
          "400": {
            "description": "Bad request. Parameters are invalid or malformed. Please check the input formats. This error can also happen if the requested resources are too large to complete the request, which results in a timeout. Please reduce the number and size of objects requested.",
            "$ref": "#/components/responses/BadRequestErrorResponseWithErrorBoolean"
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.",
            "$ref": "#/components/responses/ForbiddenErrorResponseWithErrMessage"
          },
          "429": {
            "description": "In some cases API requests may be throttled or rate limited. Please wait a while before attempting the request again (typically a minute).",
            "$ref": "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
          },
          "500": {
            "description": "An internal server error occurred.",
            "$ref": "#/components/responses/InternalServerErrorResponseWithErrMessage"
          }
        },
        "callbacks": {
          "ping": {
            "{$request.body#/endpoint}": {
              "post": {
                "summary": "Ping event",
                "description": "Triggers when a webhook is created. Used for debugging. Cannot be subscribed to, all webhooks will receive \u0060PING\u0060 events.",
                "requestBody": {
                  "description": "The webhook will send a PING event to the endpoint when it is created.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookPingPayload"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code\n                    if the data was received successfully"
                  },
                  "400": {
                    "description": "If your server returns a non-200 status code, or takes too long, the Figma API will treat this as an error. Figma retries failed requests 3 times with an exponential backoff strategy."
                  }
                },
                "security": [
                  {
                    "PersonalAccessToken": []
                  },
                  {
                    "OAuth2": [
                      "webhooks:write"
                    ]
                  }
                ]
              }
            }
          },
          "fileUpdate": {
            "{$request.body#/endpoint}": {
              "post": {
                "summary": "File update event",
                "description": "Triggers within 30 minutes of editing inactivity in a file.",
                "requestBody": {
                  "description": "This is useful when you want to stay up-to-date with the contents of a file. For example, you could generate a static website from your Figma document and keep it always up-to-date with this webhook.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookFileUpdatePayload"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code\n                    if the data was received successfully"
                  },
                  "400": {
                    "description": "If your server returns a non-200 status code, or takes too long, the Figma API will treat this as an error. Figma retries failed requests 3 times with an exponential backoff strategy."
                  }
                },
                "security": [
                  {
                    "PersonalAccessToken": []
                  },
                  {
                    "OAuth2": [
                      "webhooks:write"
                    ]
                  }
                ]
              }
            }
          },
          "fileVersionUpdate": {
            "{$request.body#/endpoint}": {
              "post": {
                "summary": "File version update event",
                "description": "Triggers whenever a named version is created in the version history of a file.",
                "requestBody": {
                  "description": "This is useful for workflow integrations. For example, suppose you have a Figma document with icon assets. When the design for an asset is updated and ready to publish, you can have a member of the team tag that version in the version history and then use this webhook event to generate and deploy your new asset version.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookFileVersionUpdatePayload"
                      }
                    }
                  },
                  "required": true
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code\n                    if the data was received successfully"
                  },
                  "400": {
                    "description": "If your server returns a non-200 status code, or takes too long, the Figma API will treat this as an error. Figma retries failed requests 3 times with an exponential backoff strategy."
                  }
                },
                "security": [
                  {
                    "PersonalAccessToken": []
                  },
                  {
                    "OAuth2": [
                      "webhooks:write"
                    ]
                  }
                ]
              }
            }
          },
          "fileDelete": {
            "{$request.body#/endpoint}": {
              "post": {
                "summary": "File delete event",
                "description": "Triggers whenever a file has been deleted. If you subscribe to \u0060FILE_UPDATE\u0060, you automatically get these notifications. Note that this does not trigger on all files within a folder, if the folder is deleted.",
                "requestBody": {
                  "description": "Note if a folder is deleted, this event will not trigger for files within the folder.",
                  "content": {
                    "application/json": {
                      "schema": {
[...]
